<!-- templates/menu/evaluaciones.html -->
<div class="card">
  <h3>Evaluaciones</h3>

  <div style="margin-bottom: 12px;">
    <button onclick="window.location.href='{% url 'crear_evaluacion' %}'">
      ➕ Crear Evaluación
    </button>
  </div>

  <table class="table" style="width:100%; border-collapse:collapse;">
    <thead>
      <tr style="background:#7b0018; color:white;">
        <th>Título</th>
        <th>Curso</th>
        <th>Periodo</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      {% for e in evaluaciones %}
      <tr>
        <td>{{ e.titulo }}</td>
        <td>{{ e.curso }}</td>
        <td>{{ e.periodo }}</td>
        <td>{{ e.estado }}</td>
        <td>
          <button onclick="window.location.href='{% url 'ver_evaluacion' e.id %}'">Ver</button>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="5">No hay evaluaciones.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>



<script>
  function cerrarSesion() {
    alert("Sesión cerrada correctamente.");
    window.location.href = "{% url 'home' %}";
  }
</script>
