<!-- templates/menu/historial.html -->
<div class="card">
  <h3>Historial de Evaluaciones</h3>

  <table class="table" style="width:100%;">
    <thead>
      <tr style="background:#7b0018; color:white;">
        <th>Evaluación</th>
        <th>Curso</th>
        <th>Fecha</th>
        <th>Puntaje</th>
      </tr>
    </thead>

    <tbody>
      {% for h in historial %}
      <tr>
        <td>{{ h.evaluacion }}</td>
        <td>{{ h.curso }}</td>
        <td>{{ h.fecha }}</td>
        <td>{{ h.puntaje }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="4">Sin historial.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>



<script>
  function cerrarSesion() {
    alert("Sesión cerrada correctamente.");
    window.location.href = "{% url 'home' %}";
  }
</script>
