<!-- templates/menu/pendientes.html -->
<div class="card">
  <h3>Evaluaciones Pendientes</h3>

  <table class="table" style="width:100%;">
    <thead>
      <tr style="background:#7b0018; color:white;">
        <th>Evaluación</th>
        <th>Curso</th>
        <th>Vence</th>
        <th>Acción</th>
      </tr>
    </thead>

    <tbody>
      {% for p in pendientes %}
      <tr>
        <td>{{ p.evaluacion.titulo }}</td>
        <td>{{ p.evaluacion.curso }}</td>
        <td>{{ p.vencimiento }}</td>
        <td>
          <button onclick="window.location.href='{% url 'realizar_evaluacion' p.id %}'">
            Realizar
          </button>
        </td>
      </tr>
      {% empty %}
      <tr><td colspan="4">No tienes pendientes.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>


<script>
  function cerrarSesion() {
    alert("Sesión cerrada correctamente.");
    window.location.href = "{% url 'home' %}";
  }
</script>

